%h3
  = @link.title
  %h3
    %h4
      Are you sure you want to delete this link?
      %h4
        %form{:action => "/link/#{@link.id}", :method => "post"}
          %input{:name => "_method", :type => "hidden", :value => "delete"}/
          %input{:type => "submit", :value => "Delete"}/
          or
          %a{:href => "/links"} Cancel
