%form{:action => "/link/#{@link.id}", :method => "post",  :class=>"form-inline"}
  %input{:name => "_method", :type => "hidden", :value => "put"}/
  %input{:type => "text", :name => "title", :class => "input-small", :value=>@link.title}
  %input{:type => "text", :name => "name", :class => "input-xxlarge", :value=>@link.name}
  %input{:name => "commit_link", :type => "submit", :value => "Update Link", :class => "btn btn-success"}
%a{:href => "/link/#{@link.id}/delete"} Delete this link
