%form{:action => "/task/#{@task.id}", :method => "post", :class=>"form-inline"}
  %input{:name => "_method", :type => "hidden", :value => "put"}/
  %input#name{:name => "name", :type => "text", :value => @task.name, :class=>"input-large"}/
  <input id="completed" name="completed" type="checkbox" value="done" #{@task.completed_at ? "checked" : ""}/>
  %input#task_submit{:name => "commit", :type => "submit", :value => "Update", :class => "btn btn-success"}/
%a{:href => "/task/#{@task.id}/delete"} Delete this task
