%h3 <i class="icon-tasks"></i> Tasks List:
- unless @tasks.empty?
  %ul
    - @tasks.each do |task|
      <li #{"class=\"completed\"" if task.completed?}>
      <span class="label label-default"><i class="icon-leaf"></i></span> <strong>#{task.link}</strong>
- else
  %p No Tasks!


%form{:action => "/task/create", :method => "POST", :class=>"form-inline"}
  %input#name{:name => "name", :type => "text", :class=>"input-large"}/
  %input{:type => "submit", :value => "Add Task!", :class => "btn btn-success"}/


