%h3 <i class="icon-tags"></i> Important Links:
- unless @links.empty?
  %ul
    - @links.each do |link|
      %li <strong><a href="/link/#{link.id}"><span class="label label-success">#{link.title}</span></a></strong> <a href="#{link.name}">#{link.name}</a>
- else
  %p No Links Yet!


%form{:action => "/link/create", :method => "POST", :class=>"form-inline"}
  %input{:type => "text", :name => "title", :class => "input-small", :value=>"Enter Title here"}
  %input{:type => "text", :name => "name", :class => "input-xxlarge", :value=>"Enter URL here"}
  %input{:type => "submit", :value => "Add Link", :class => "btn btn-success"}
