%form{:action => "/task/create", :method => "POST"}
  %input#name{:name => "name", :type => "text"}/
  %input{:type => "submit", :value => "Add Task!"}/
%h2 Tasks:
- unless @tasks.empty?
  %ul
    - @tasks.each do |task|
      <li #{"class=\"completed\"" if task.completed_at}>
      %a{:href => "/task/#{task.id}"}= task.name
- else
  %p No Tasks!
